.main {
  background-color: white;
  padding: 40px 25px;
  border-radius: 4px;
}

.link {
  color: black;
  text-decoration: none;
  font-style: italic;
  padding: 0px 0px 6px 0px;
  border-bottom: 1px solid rgba(100, 100, 100, 1);
}